{
  "$schema": "https://json.schemastore.org/prettierrc",
  "semi": true,
  "singleQuote": false,
  "tabWidth": 4,
  "useTabs": false,
  "printWidth": 120,
  "endOfLine": "lf",
  "trailingComma": "es5",
  "arrowParens": "always",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "proseWrap": "preserve",
  "quoteProps": "as-needed",
  "plugins": ["prettier-plugin-organize-imports"],
  "overrides": [
    {
      "files": "*.md",
      "options": {
        "printWidth": 80,
        "proseWrap": "always"
      }
    },
    {
      "files": ["*.json", "*.jsonc"],
      "options": {
        "tabWidth": 2
      }
    }
  ]
}